.lpButtons {
  background-color: rgb(30, 135, 177);
  border: black;
  font-size: 18px;
  font-style: bold;
  color: white;
  text-align: center;
  margin: black;
  text-decoration: none;
}

.Container {
  box-sizing: border-box;
  border: black;
  height: 50%;
}

.h4 {
  font-family: Georgia;
  font-style: bold;
  color: white;
}

.fileInput {
  border-bottom: 4px solid lightgray;
  border-right: 4px solid;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}
.img {
  width: 100%;
  height: 100%;
}

.previewText {
  width: 100%;
  margin-top: 20px;
}

.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}

.centerText {
  text-align: center;
  width: 500px;
}

body {
  font-family: Roboto, sans-serif;
  background: #f2f2f2;
  color: #757575;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 75vh;
}

.button {
  margin: 0 10vw;
}

.images {
  display: flex;
  justify-content: center;
}
/* 
.delete {
  position: relative;
  top: 16px;
  right: 15px; 
}

footer svg,
.button svg,
.delete svg {
  filter: drop-shadow(3px 3px 3px #999);
  transition: 0.3s;
  transform: rotate(-0.2deg);
}

footer svg:hover,
.button svg:hover,
.delete svg:hover {
  filter: drop-shadow(4px 4px 4px #999);
  transform: rotate(-0.6deg);
  cursor: pointer;
}

.delete svg {
  filter: drop-shadow(1px 1px 1px #999);
}

footer svg {
  filter: drop-shadow(1.5px 1px 1px #999);
}

footer svg:hover,
.delete svg:hover {
  filter: drop-shadow(1.5px 1.5px 1.5px);
} */
